# PANDAS LIBRARY

# Creating Dataframe with csv file

In [8]:
import pandas as pd
d1=pd.read_csv("D:\weather_data.csv")
d1

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

# Creating Dataframe by inserting data manually

In [10]:
import pandas as p
weather_data1=[("01-01-2017",32,6,"Rain"),
               ("01-02-2017",35,7,"Sunny"),
               ("01-03-2017",28,2,"Snow"),
               ("01-04-2017",24,7,"Snow"),
               ("01-05-2017",32,4,"Rain"),
               ("01-06-2017",31,2,"Sunny")]
d2=p.DataFrame(weather_data1,columns=["day","temperature","windspeed","event"])
d2

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

# Detemine the number of rows and columns in a dataframe

In [12]:
d1.shape

(6, 4)

# To print first few rows of a dataframe

In [13]:
d1.head()

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain

# To print first few columns of a dataframe

In [14]:
d1.tail()

          day  temperature  windspeed  event
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

# Slicing

In [17]:
d1[2:5]

          day  temperature  windspeed event
2  01-03-2017           28          2  Snow
3  01-04-2017           24          7  Snow
4  01-05-2017           32          4  Rain

# To print the column titles of a dataframe

In [22]:
d1.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

# Print Particular column data(First Way)

In [23]:
d1['day']

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

# Print Particular column data(Second Way Way)

In [24]:
d1.day

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

# To print 2 or more columns

In [26]:
d1[['day','temperature']]

          day  temperature
0  01-01-2017           32
1  01-02-2017           35
2  01-03-2017           28
3  01-04-2017           24
4  01-05-2017           32
5  01-06-2017           31

# Print the data of temperature column

In [29]:
d1['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

# To print the maximum temperature

In [34]:
d1['temperature'].max()

35

# To print the minimum temperature

In [36]:
d1['temperature'].min()

24

# To describe temperature

In [37]:
d1['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

# select rows which has maximum temperature

In [38]:
d1[d1['temperature']==d1['temperature'].max()]

          day  temperature  windspeed  event
1  01-02-2017           35          7  Sunny

# select only day column which has the maximum temperature

In [39]:
d1.day[d1['temperature']==d1['temperature'].max()]

1    01-02-2017
Name: day, dtype: object